# Логи
logs
*.log

# Директория с модулями Node.js
node_modules

# Директория с настройками редактора
.vscode
.idea

# Файлы, связанные с системой контроля версий
.git
.gitignore

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы окружения
.env

# Другие ненужные файлы
npm-debug.log
yarn-error.log
